<div class="text-center">
  <h2 routerLink="/dashboard" class="app-title">TASK MANAGEMENT SYSTEM</h2>
</div>

<!-- User Info at Top-Right End -->
<div class="user-info" *ngIf="authService.user$ | async as user">
  <h3>Hi, {{ user.email }}</h3>
  <button (click)="onLogout()">Logout</button>
</div>

<!-- Show Buttons Only If User is Logged In -->
<div class="button-container" *ngIf="authService.user$ | async">
  <button mat-raised-button color="primary" routerLink="/tasks">View Task List</button>
  <button mat-raised-button color="accent" routerLink="/task/add">Assign New Task</button>
</div>

<!-- Main Content -->
<div class="main-container">
  <router-outlet></router-outlet>
</div>

<p class="footer">Task Management System. All rights reserved.</p>
