<div class="dashboard-container">
    

    <!-- New Tasks -->
    <button class="task-box new" [routerLink]="['/tasks']" [queryParams]="{ status: 'New' }">
      <h3>{{ newTasks }}</h3>
      <p>New Tasks</p>
    </button>
    
    <!-- On-Going Tasks -->
    <button class="task-box inprogress" [routerLink]="['/tasks']" [queryParams]="{ status: 'On-going' }">
      <h3>{{ inProgressTasks }}</h3>
      <p>On-Going Task</p>
    </button>
    
    <!-- Completed Tasks -->
    <button class="task-box completed" [routerLink]="['/tasks']" [queryParams]="{ status: 'Completed' }">
      <h3>{{ completedTasks }}</h3>
      <p>Completed Task</p>
    </button>
    
    <!-- All Tasks -->
    <button class="task-box all" [routerLink]="['/tasks']">
      <h3>{{ allTasks }}</h3>
      <p>All Tasks</p>
    </button>
</div>
